
<div class="page page-current"  id="router-index">


    <div class="popup popup-about" style="display: none;">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-right close-popup">
                关闭
            </a>
            <h1 class="title">关于i微随身记</h1>
        </header>
        <div class="content native-scroll">
            <div class="content-inner">
                <div class="content-block">
                    <p>i微随身记是孟爷提供的一套基于微信的随身记工具，简单便捷，随时随身记。</p>
                    <p>开发目的: 分析自己支出趋势,掌握资金流向，了解自己平时的钱都花在了什么方面,从而更合理地花钱，省钱.</p>
                    <p>i微随身记的分类看起来很简单，但作为一个用四年多excel记账的老哥哥来说，i微随身记的类目对于大多数人来说，够用.</p>
                    <p></p>
                    <p><a class="button close-popup">确定</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div id="content">
